<a href="https://colab.research.google.com/github/Sukesh-bitragunta/Sukesh_Data690/blob/main/Week_4/Assignment_04_Part_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
with open("census_costs.txt","r") as f:
  line_list = f.readlines()

line_list

['Source: https://www.genealogybranches.com/censuscosts.html\n',
 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n',
 '1790\t3,929,214\t$44,377\t1.13 cents\n',
 '1800\t5,308,483\t$66,109\t1.24 cents\n',
 '1810\t7,239,881\t$178,445\t2.46 cents\n',
 '1820\t9,633,822\t$208,526\t2.16 cents\n',
 '1830\t12,866,020\t$378,545\t2.94 cents\n',
 '1840\t17,069,458\t$833,371\t4.88 cents\n',
 '1850\t23,191,876\t$1,423,351\t6.14 cents\n',
 '1860\t31,443,321\t$1,969,377\t6.26 cents\n',
 '1870\t38,558,371\t$3,421,198\t8.87 cents\n',
 '1880\t50,155,783\t$5,790,678\t11.54 cents\n',
 '1890\t62,979,766\t$11,547,127\t18.33 cents\n',
 '1900\t76,303,387\t$11,854,000\t15.54 cents\n',
 '1910\t91,972,266\t$15,968,000\t17.07 cents\n',
 '1920\t105,710,620\t$25,117,000\t23.76 cents\n',
 '1930\t122,775,046\t$40,156,000\t32.71 cents\n',
 '1940\t131,669,275\t$67,527,000\t51.29 cents\n',
 '1950\t151,325,798\t$91,462,000\t60.44 cents\n',
 '1960\t179,323,175\t$127,934,000\t71.34 cents\n',
 '1970\t203,302,031\t$247,653,000\t$1.22\n',
 '1980\t226,542,199\t$1,078,488,000\t$4.76\n',
 '1990\t248,718,301\t$2,492,830,000\t$10.02\n',
 '2000\t281,421,906\t$4.5 Billion\t$15.99\n',
 '2010*\t308,745,538\t$13 Billion\t$42.11\n']

In [4]:
top2_list = line_list[0:2]
top2_list

['Source: https://www.genealogybranches.com/censuscosts.html\n',
 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n']

In [5]:
data_list = line_list[2:]

data_list

['1790\t3,929,214\t$44,377\t1.13 cents\n',
 '1800\t5,308,483\t$66,109\t1.24 cents\n',
 '1810\t7,239,881\t$178,445\t2.46 cents\n',
 '1820\t9,633,822\t$208,526\t2.16 cents\n',
 '1830\t12,866,020\t$378,545\t2.94 cents\n',
 '1840\t17,069,458\t$833,371\t4.88 cents\n',
 '1850\t23,191,876\t$1,423,351\t6.14 cents\n',
 '1860\t31,443,321\t$1,969,377\t6.26 cents\n',
 '1870\t38,558,371\t$3,421,198\t8.87 cents\n',
 '1880\t50,155,783\t$5,790,678\t11.54 cents\n',
 '1890\t62,979,766\t$11,547,127\t18.33 cents\n',
 '1900\t76,303,387\t$11,854,000\t15.54 cents\n',
 '1910\t91,972,266\t$15,968,000\t17.07 cents\n',
 '1920\t105,710,620\t$25,117,000\t23.76 cents\n',
 '1930\t122,775,046\t$40,156,000\t32.71 cents\n',
 '1940\t131,669,275\t$67,527,000\t51.29 cents\n',
 '1950\t151,325,798\t$91,462,000\t60.44 cents\n',
 '1960\t179,323,175\t$127,934,000\t71.34 cents\n',
 '1970\t203,302,031\t$247,653,000\t$1.22\n',
 '1980\t226,542,199\t$1,078,488,000\t$4.76\n',
 '1990\t248,718,301\t$2,492,830,000\t$10.02\n',
 '2000\t281,421,906\t$4.5 Billion\t$15.99\n',
 '2010*\t308,745,538\t$13 Billion\t$42.11\n']

In [6]:
year_list = []

for i in data_list:
  year = i[0:4]
  year_list.append(year) 
print(year_list)

['1790', '1800', '1810', '1820', '1830', '1840', '1850', '1860', '1870', '1880', '1890', '1900', '1910', '1920', '1930', '1940', '1950', '1960', '1970', '1980', '1990', '2000', '2010']

In [7]:
pop_list = []

for i in data_list:
  pop_samp= i.split("\t")
  pop=pop_samp[1]
  pop_list.append(pop)

for i in range(len(pop_list)):
  pop_list[i] = pop_list[i].replace(",","")
print(pop_list)

['3929214', '5308483', '7239881', '9633822', '12866020', '17069458', '23191876', '31443321', '38558371', '50155783', '62979766', '76303387', '91972266', '105710620', '122775046', '131669275', '151325798', '179323175', '203302031', '226542199', '248718301', '281421906', '308745538']

In [8]:
cost_list = []

for i in data_list:
  cost_samp = i.split("\t")
  cost = cost_samp[2]
  cost_list.append(cost)

for i in range(len(cost_list)):
  cost_list[i] = cost_list[i].replace("$","").replace(",","").replace(" Billion","000000000")
print(cost_list)

['44377', '66109', '178445', '208526', '378545', '833371', '1423351', '1969377', '3421198', '5790678', '11547127', '11854000', '15968000', '25117000', '40156000', '67527000', '91462000', '127934000', '247653000', '1078488000', '2492830000', '4.5000000000', '13000000000']

In [16]:
avg_list = []

for i in data_list:
  avg_cost= i.split("\t")
  avg = avg_cost[3]
  avg_list.append(avg)

cleansed_avg_list=[]
for avg_cost in avg_list :
  if "$" in avg_cost:
    avg_cost = avg_cost.replace("$", "")
  if "\n" in avg_cost:
      avg_cost = avg_cost.replace("\n", "")
  if "cents" in avg_cost:
      avg_cost = avg_cost.replace("cents", "")
      avg_cost = float(avg_cost) / 100
  cleansed_avg_list.append(round(float(avg_cost),4))

print(cleansed_avg_list)

[0.0113, 0.0124, 0.0246, 0.0216, 0.0294, 0.0488, 0.0614, 0.0626, 0.0887, 0.1154, 0.1833, 0.1554, 0.1707, 0.2376, 0.3271, 0.5129, 0.6044, 0.7134, 1.22, 4.76, 10.02, 15.99, 42.11]

In [18]:
with open("/content/census_costs.csv", "w") as f:
    f.writelines(top2_list)

    for i in range(len(year_list)):
      f.write(year_list[i])
      f.write(",")
      f.write(pop_list[i])
      f.write(",")
      f.write(cost_list[i])
      f.write(",")
      f.write(str(cleansed_avg_list[i]))

      if i != len((year_list)) - 1:
           f.write("\n")

In [21]:
with open("/content/census_costs.csv", "r") as cfile:
    open_file = cfile.readlines()

open_file

['Source: https://www.genealogybranches.com/censuscosts.html\n',
 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n',
 '1790,3929214,44377,0.0113\n',
 '1800,5308483,66109,0.0124\n',
 '1810,7239881,178445,0.0246\n',
 '1820,9633822,208526,0.0216\n',
 '1830,12866020,378545,0.0294\n',
 '1840,17069458,833371,0.0488\n',
 '1850,23191876,1423351,0.0614\n',
 '1860,31443321,1969377,0.0626\n',
 '1870,38558371,3421198,0.0887\n',
 '1880,50155783,5790678,0.1154\n',
 '1890,62979766,11547127,0.1833\n',
 '1900,76303387,11854000,0.1554\n',
 '1910,91972266,15968000,0.1707\n',
 '1920,105710620,25117000,0.2376\n',
 '1930,122775046,40156000,0.3271\n',
 '1940,131669275,67527000,0.5129\n',
 '1950,151325798,91462000,0.6044\n',
 '1960,179323175,127934000,0.7134\n',
 '1970,203302031,247653000,1.22\n',
 '1980,226542199,1078488000,4.76\n',
 '1990,248718301,2492830000,10.02\n',
 '2000,281421906,4.5000000000,15.99\n',
 '2010,308745538,13000000000,42.11']